@import "../bootstrap-sass/assets/stylesheets/bootstrap";

.main-content {
  position: relative;
}

.signout {
  position: absolute;
  top: 7px;
  right: 24px;
}

.exportar {
  right: 24px;
  top: -10;
  position: relative;
}

.sliderClass .google-visualization-controls-slider-horizontal {
  width:300px;
}

.goog-menu-vertical {
  overflow:scroll;
  max-height:300px
}

.panel-body .charts-combobox {
  .charts-menu{
    overflow-y:scroll;
    overflow-x: auto;
    height:200px;
    width: 300px;
  }

  input{
    width: 300px;
  }
}

#footer {
  width: 100%;
  margin: auto;
}
.footerFloat {
  width: 100%;
}
@media all and (min-width: 950px) {
  #footer {
    width: 100%;
    margin: auto;
  }
  .footerFloat {
    width: 25%;
    float: left;
    font-size: small;
  }
}
#wrapperFooter {
  background-color: #eeeeee;
  width: 100%;
  overflow:hidden;
  padding-left: 20%;
  padding-right: 20%;
}

.filter{
  display: inline-block;
  padding-left: 30px;
  align-content: center;
}

.checkbox{
  margin-left: 20%;
}