@import "../bootstrap-sass/assets/stylesheets/bootstrap";

.main-content {
  position: relative;
}

.signout {
  position: absolute;
  top: 7px;
  right: 24px;
}

.exportar {
  right: 24px;
  top: -10;
  position: relative;
}


.sliderClass .google-visualization-controls-slider-horizontal {
  width:300px;
}